@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1680px;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  background-color: white;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0A0A0A;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(160, 0, 115);
  border-radius: 20px;
  /* border: 3px solid orange; */
}